<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="~{fragment/public/head :: head}"></th:block>
    <!-- CSS riêng từng trang -->
    <th:block layout:fragment="page-css"></th:block>
</head>
<body>

<th:block th:replace="~{fragment/public/navbar :: navbar}"></th:block>

<main layout:fragment="content"></main>

<th:block th:replace="~{fragment/public/footer :: footer}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- JS riêng từng trang -->
<th:block layout:fragment="page-js"></th:block>

</body>
</html>