<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="publicHeader" class="public-header" id="publicHeader">

    <div class="header-top">
        <div class="header-top-left">
            <a th:href="@{/home}">V'HOTEL GLOBAL</a>
        </div>

        <div class="header-logo">
            <a th:href="@{/home}">V'HOTEL</a>
        </div>

        <div class="header-top-right">
            <a href="#">ENGLISH</a>
        </div>
    </div>

    <div class="header-main">
        <div class="hotel-name">
            <a th:href="@{/home}">V'HOTEL HANOI</a>
        </div>

        <nav class="main-nav">
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/overview}">Overview</a>
            <a th:href="@{/offers}">Offers</a>
            <a th:href="@{/room-types}">Room Type</a>
            <a th:href="@{/services/dining}">Dining</a>
            <a th:href="@{/services/wellness}">Wellness</a>
            <a th:href="@{/accommodation}">Accommodation</a>
        </nav>

        <div class="header-action">
            <a class="btn-book" th:href="@{/booking}">ĐẶT PHÒNG</a>
        </div>
    </div>

</header>

</body>
</html>