<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragment/staff/system_admin/head :: head}">
</head>

<body>

<div class="dashboard-wrapper">

    <div th:replace="~{fragment/staff/system_admin/sidebar :: sidebar}">
    </div>

    <div class="main-content">

        <div th:replace="~{fragment/staff/header :: header}">
        </div>

        <main class="page-container"
              layout:fragment="content">

        </main>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>